body {
    padding-top: 20px;
    background-color: #f8f9fa;
    color: #050000;
}

.navbar {
    margin-bottom: 20px;
}

.hero-section {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGQbL0vG1IPsTbldZXL88vgaNStpRG0Lnr6w&s') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section .container {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 10px;
}

.features-section {
    background-color: #fff;
}

.features-section .fa-3x {
    color: #007bff;
}

.features-section h4 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer {
    background-color: #343a40;
}
